#!/bin/bash

#
#   This script is maintained by Ansible
#

source {{ backup_vars_dest }}

export PBS_PASSWORD
export PBS_REPOSITORY

/usr/local/sbin/proxmox-backup-client backup {{ backup_name_path }}